
font(family)
  if family == "Italianno"
    font-family: "Italianno", cursive
  if family == "Alegreya"
    font-family: "Alegreya Sans", sans-serif
  if family == "Dosis"
    font-family: "Dosis", sans-serif
